@page "/games"
@inject IGameService GameService
@attribute [StreamRendering]

<PageTitle>Games</PageTitle>

<h1>Game List</h1>

@if(games == null)
{
    <span>Loading...</span>
}
else if(games.Count == 0)
{
    <span>No games found.</span>
}
else
{
    <ul>
        @foreach(var game in games)
        {
            <li>@game.Name</li>
        }
    </ul>
}

<CreateGameButton />

@code {
    List<Game>? games = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);//demo
        games = await GameService.GetAllGames();
    }
}
